.footer{
    position: fixed;
    bottom: 0;
}

.confirmBtn {
    bottom: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    right: 0;
}

.content {
    position: relative;
    top: 70px;
}

.header {
    z-index: 1;
}

.new-line {
    display: inline-block;
}

.footer-main{
    height: 50px;
    position: inherit;
    bottom: 0;
}